@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "abyss";
  default: true;
  --color-secondary: #557311;
}
/* Animacion para pasar entre paginas */
@view-transition {
  navigation: auto;
}

/* 1. Definir las animaciones de deslizamiento */
@keyframes slide-to-left {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes slide-from-right {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

/* 2. Aplicarlas a la página completa (root) */
::view-transition-old(root) {
  animation: 0.3s ease-in-out both slide-to-left;
}

::view-transition-new(root) {
  animation: 0.3s ease-in-out both slide-from-right;
}