---
import '../styles/global.css'
---
 
 
 <header class="fixed top-0 left-0 w-full z-50 flex justify-between items-center px-6 py-4 bg-surface/80 backdrop-blur-md shadow-sm">
    <div class="flex items-center gap-1">
      <span class="material-symbols-outlined text-primary text-xl">location_on</span>
      <span class="text-sm font-headline font-bold text-primary">Medellín, CO</span>
    </div>
    <h1 class="text-xl font-extrabold text-primary font-headline tracking-tight">GastroLink</h1>
    <button class="active:scale-95 transition-transform">
      <span class="material-symbols-outlined text-primary">favorite</span>
    </button>
  </header>