---
import "../styles/global.css";
---

<header
  class=" fixed top-0 left-0 w-full z-50 flex justify-between items-center px-4 py-4 bg-bg/90 backdrop-blur-md  border border-stone-200/10  shadow-2xl  rounded-br-4xl  rounded-bl-4xl "
>
  <!-- Top Left: Profile Picture and Name -->
  <div class="flex items-center gap-2 pl-3.5">
    <div
      class="w-8 h-8 rounded-full bg-primary/10 flex items-center justify-center overflow-hidden"
    >
      <img
        alt="Profile"
        class="w-full h-full object-cover"
        src="https://lh3.googleusercontent.com/aida-public/AB6AXuAGywvXeAzJxHeKJZGil9p4nB4D2fV8OaWk32eaVLJ5xN_nYSRt-j2xeeLmX0v-405yuuTkV5Wa1drwt28whF4NTgxbkSinEea6t0x1oSepqwJ383eUAV_Kjfl3w_EhKFkxyJvixnIr6GrdjKSdmICsCduFTcVSQuuHVTBaN6RhafEA5hUyxS7t3VHRHF9GKPz1mrMAQmaXnYA3ZubZ8rTCnkujNXrteog2n9dOL6zZpKvDGUZge3j0dh3yCoz0chtU8M07GfvrvwBl"
      />
    </div>
    <span class="text-sm font-headline font-bold text-on-surface tracking-tight"
      >Hola, User</span
    >
  </div>
  <!-- Top Right/Center: App Name and Location -->
  <div class="flex items-center gap-3 pr-3">
     <h1
      class="text-xl font-extrabold text-primary font-headline tracking-tight"
    >
      RateApp
    </h1>
   

    
   
  </div>

   <div class="flex items-center gap-1">
      <span
        class="material-symbols-outlined text-primary text-[20px]"
        data-icon="location_on">location_on</span
      >
      <span
        class="text-[11px] font-headline font-bold text-primary tracking-tight"
        >Medellín, CO</span
      >
    </div>
</header>
