---
import "../../../styles/global.css"
---

 <section
                class="md:w-1/2 relative text-white overflow-hidden bg-fourty rounded-3xl p-8 text-on-primary-container shadow-[0px_20px_40px_rgba(0,80,86,0.15)]"
            >
                <div
                    class="absolute -right-10 -top-10 w-40 h-40 bg-white/10 rounded-full blur-3xl"
                >
                </div>
                <div class="relative z-10 flex flex-col items-center">
                    <p
                        class="font-label text-sm uppercase tracking-widest opacity-80 mb-2"
                    >
                        Tu Saldo Actual
                    </p>
                    <div class="flex items-center gap-3">
                        <span
                            class="material-symbols-outlined text-4xl"
                            data-icon="stars"
                            style="font-variation-settings: 'FILL' 1;"
                            >stars</span
                        >
                        <h2
                            class="text-4xl font-headline font-extrabold tracking-tight"
                        >
                            2,450 Puntos
                        </h2>
                    </div>
                    <div class="mt-6 flex gap-2">
                        <span
                            class="px-4 py-1.5 bg-white/10 rounded-full text-xs font-semibold backdrop-blur-md"
                            >Gourmet Member</span>
                        <span
                            class="px-4 py-1.5 bg-white/10 rounded-full text-xs font-semibold backdrop-blur-md"
                            >Nivel 4</span
                        >
                    </div>
                </div>
            </section>