---
import "../../../styles/global.css";
---

<section class="bg-secondary  font-bold rounded-2xl p-6 shadow-lg">
    <div class="flex justify-between items-center mb-6">
        <h3 class="text-xl font-bold text-primary">Insignias Desbloqueadas</h3>
        <span
            class="text-xs font-bold text-primary uppercase tracking-tighter"
            >Ver todas</span
        >
    </div>
    <div class="flex gap-4 overflow-x-auto pb-4 no-scrollbar">
        <div class="shrink-0 flex flex-col items-center gap-3">
            <div
                class="w-20 h-20 rounded-full bg-surface-container flex items-center justify-center border-4 border-primary/5 shadow-inner"
            >
                <span
                    class="material-symbols-outlined text-primary text-3xl"
                    style="font-variation-settings: 'FILL' 1;"
                    >restaurant_menu</span
                >
            </div>
            <span
                class="text-[10px] font-bold text-center leading-tight uppercase w-20"
                >Crítico de Medellín</span
            >
        </div>
        <div class="shrink-0 flex flex-col items-center gap-3">
            <div
                class="w-20 h-20 rounded-full bg-surface-container flex items-center justify-center border-4 border-primary/5 shadow-inner"
            >
                <span
                    class="material-symbols-outlined text-primary text-3xl"
                    style="font-variation-settings: 'FILL' 1;">local_cafe</span
                >
            </div>
            <span
                class="text-[10px] font-bold text-center leading-tight uppercase w-20"
                >Cata Maestro</span
            >
        </div>
        <div class="shrink-0 flex flex-col items-center gap-3">
            <div
                class="w-20 h-20 rounded-full bg-surface-container flex items-center justify-center border-4 border-primary/5 shadow-inner"
            >
                <span
                    class="material-symbols-outlined text-primary text-3xl"
                    style="font-variation-settings: 'FILL' 1;">history_edu</span
                >
            </div>
            <span
                class="text-[10px] font-bold text-center leading-tight uppercase w-20"
                >Guía Local</span
            >
        </div>
    </div>
</section>
