---
import "../../styles/global.css"

const {
    restaurantName,
    restaurantReviews,
    restaurantImage,
    restaurantLink = "#",
    restaurantCategory,
} = Astro.props;
---
    
    <div class="space-y-4 w-90">
				<div class="relative aspect-video rounded-3xl overflow-hidden">
					<img
						src={restaurantImage}
						class="w-full h-full object-cover"
						alt="Restaurant"
					/>
					<button
						class="absolute top-4 right-4 w-10 h-10 bg-white/90 rounded-full flex items-center justify-center text-primary shadow-sm active:scale-90 focus:bg-red-500/90 transition-all "
					>
						<span class="material-symbols-outlined">favorite</span>
					</button>
				</div>
				<div class="flex justify-between items-start">
					<div>
						<h3 class="text-lg font-headline font-bold">
							{restaurantName}
						</h3>
						<div class="flex items-center gap-2 mt-1">
							<span
								class="text-xs font-semibold text-secondary px-2 py-0.5 bg-secondary/10 rounded-full"
								>{restaurantCategory}</span
							>
							<span class="text-xs text-stone-500">{restaurantReviews} ⭐</span>
						</div>
					</div>
					<button
						class="bg-primary text-white px-5 py-2.5 rounded-full text-xs font-bold uppercase shadow-lg shadow-primary/20 active:scale-95 transition-transform"
						>Ver oferta</button
					>
				</div>
			</div>